/* Navbar Styling */
.navbar {
  background: #000; /* Black background */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between; /* Distribute space between logo and items */
  align-items: center; /* Center items vertically */
  height: 80px;
  max-width: 1500px;
  width: 100%;
}

.navbar-logo {
  color: #fff; /* White text for the logo */
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  list-style: none;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
}

.nav-links {
  color: #fff; /* White text for links */
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff; /* White border on hover */
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff; /* White icon color */
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.user-icon {
  color: #fff; /* White icon color */
  font-size: 1.8rem; /* Adjust size as needed */
  margin-left: 20px; /* Space from the other elements */
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222; /* Dark background for mobile menu */
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
